:root {
    --td-sunshine-yellow: #ffdc14;
    --td-sunshine-yellow-outer: #ffcd00;
    --td-sunshine-yellow-inner: var(--td-sunshine-yellow);

    --td-laguna-blue: #00aac8;
    --td-laguna-blue-outer: #0096be;
    --td-laguna-blue-inner: var(--td-laguna-blue);

    --td-kiwi-green: #AFC80A;
    --td-kiwi-green-outer: #96C323;
    --td-kiwi-green-inner: var(--td-kiwi-green);

    --td-citrus-yellow: #E6E678;
    --td-citrus-yellow-outer: #E6E65A;
    --td-citrus-yellow-inner: var(--td-citrus-yellow);

    --td-buttongray: #848484;
    --td_buttongray-outer: #707070;
    --td-buttongray-inner: var(--td-buttongray);
}

body {
    font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
}

canvas {
    touch-action: none;
    user-select: none;
}

.fullFormElementDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-bottom: 10px; */
}

.tabContentGeneralClass {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.mainTabTabButtonsContainerClass {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.mainTabTabButtonClass {
    display: flex;
}

.labelFormElementDiv {
    display: flex;
    width: 250px;
    font-size: 22px;
}

.lkzPlzOrtDivClass {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inputFormElementDiv {
    display: flex;
    width: 100%;
}

.LkzAllAddressElementDiv {
    display: flex;
    width: 20%;
}

.PlzAllAddressElementDiv {
    display: flex;
    width: 20%;
}

.formAtAllDiv {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    min-width: 700px;
    max-width: 900px;
    row-gap: 10px;
}

@media only screen and (max-width: 1239px) {
    .formAtAllDiv {
        /* background-color: #ff0000;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        min-width: 700px;
        max-width: 900px;
        row-gap: 10px; */
    }
}

.inputElement {
    display: flex;
    width: 100%;
    height: 120%;
    font-size: 20px;
    box-sizing: border-box;
}

.adressContainerDivClass {
    display: flex;
    flex-direction: column;
    border-top: #cdcdcd 1px solid;
    align-items: stretch;
    width: 100%;
    row-gap: 5px;
    padding-top: 10px;
}

.adressReiterDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 35px;
}

.reiterButtonContainerDiv {
    display: flex;
    flex-direction: row;
    flex-basis: 33.33%;
}

.reiterElementDiv {
    flex-basis: 33.33%;
    white-space: nowrap;
    display: flex;
    cursor: pointer;
    background: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;

    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02857em;
    border-bottom: #565656 solid 1px;

    user-select: none;
    /* z-index: 1; */
}

.reiterElementDiv:hover {
    background: #0096be;
    color: #ffffff;
}

.reiterSelectedElementDiv {
    color: #ffffff;
    border-bottom: #565656 solid 2px;
    background: #00aac8;
}

.reiterSelectedElementDiv:hover {
    background: #0096be;
    color: #ffffff;
}

.positionenTextHeadlineDiv {
    display: flex;
}

.positionenHeadlineContainerDiv {
    display: contents;
    align-items: center;
    /* font-size: 80%; */
}


.hiddenClass,
.hideAtStartup {
    display: none;
}

.addPositionenButtonDiv,
.positionenTextHeadlinePosDiv,
.positionenEmptyExpandEndCollapseButtonHeadlineDiv,
.positionenTextHeadlineBDiv,
.positionenTextHeadlineArtikelNrDiv,
.positionenTextHeadlineBezeichnungDiv,
.positionenTextHeadlineL채ngeDiv,
.positionenTextHeadlineBreiteDiv,
.positionenTextHeadlineAnzahlDiv,
.positionenTextHeadlineMengeDiv,
.positionenTextHeadlineEinheitDiv,
.positionenTextHeadlinePreisDiv,
.positionenTextHeadlineRabattDiv,
.positionenTextHeadlineGesamtpreisDiv {
    align-content: center;
}

.addPositionenButtonDiv {
    cursor: pointer;
    width:28px;
    height: 28px
}

.positionenContainerGridDiv {
    display: grid;
    column-gap: 2px;
    row-gap: 20px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    padding-top: 10px;
    border-top: #cdcdcd 1px solid;
}

.singlePositionContainerDivClass {
    display: contents;
}

.positionExpandAndCollapseLangTextButtonDivClass {
    grid-column: 2 ;
}

.posLangTextDivClass {
    grid-column: 3 / 15;
}

.addPositionenButtonDiv,
.positionenHeadlineContainerDiv,
.positionenTextHeadlinePosDiv,
.positionenEmptyExpandEndCollapseButtonHeadlineDiv,
.positionenTextHeadlineBDiv,
.positionenTextHeadlineArtikelNrDiv,
.positionenTextHeadlineBezeichnungDiv,
.positionenTextHeadlineL채ngeDiv,
.positionenTextHeadlineBreiteDiv,
.positionenTextHeadlineAnzahlDiv,
.positionenTextHeadlineMengeDiv,
.positionenTextHeadlineEinheitDiv,
.positionenTextHeadlinePreisDiv,
.positionenTextHeadlineRabattDiv,
.positionenTextHeadlineGesamtpreisDiv,
.positionDeleteButtonDivClass,
.positionPosDivClass,
.positionBausteinDivClass,
.positionArtikelNrDivClass,
.positionBezeichnungDivClass,
.positionLengthDivClass,
.positionWidthDivClass,
.positionAnzahlDivClass,
.positionMengeDivClass,
.positionEinheitDivClass,
.positionPreisDivClass,
.positionRabattDivClass,
.positionGesamtpreisDivClass {

}



.positionDeleteButtonDivClass,
.positionPosDivClass,
.positionBausteinDivClass,
.positionArtikelNrDivClass,
.positionBezeichnungDivClass,
.positionLengthDivClass,
.positionWidthDivClass,
.positionAnzahlDivClass,
.positionMengeDivClass,
.positionEinheitDivClass,
.positionPreisDivClass ,
.positionRabattDivClass,
.positionGesamtpreisDivClass {
    align-content: center;
    height: 28px;
}

.positionDeleteButtonDivClass {
    cursor: pointer;
    width: 28px;
}

.positionPosDivClass {
    margin-top: auto;
    margin-bottom: auto;
}

.positionBausteinDivClass {

}

.positionArtikelNrDivClass {
}

.positionBezeichnungDivClass {
}

.positionLengthDivClass {
}

.positionWidthDivClass {
}

.positionAnzahlDivClass {
}

.positionMengeDivClass {
}

.positionEinheitDivClass {
}

.positionPreisDivClass {
}

.positionRabattDivClass {
}

.positionGesamtpreisDivClass {
}

.positionExpandLangTextButtonDivClass {
    cursor: pointer;
}

.positionCollapseLangTextButtonDivClass {
    cursor: pointer;
}

.positionBausteinSelectClass,
.positionArtikelNrInputClass,
.positionBezeichnungInputClass,
.positionLengthInputClass,
.positionWidthInputClass,
.positionAnzahlInputClass,
.positionMengeInputClass,
.positionEinheitListSelectClass,
.positionPreisInputClass,
.positionRabattInputClass,
.positionGesamtpreisInputClass,
.posLangTextTextAreaClass {
    font-size: 80%;
}

.positionBausteinSelectClass {

}

.positionArtikelNrInputClass {
    width: 60px !important;
}

.positionBezeichnungInputClass {
    width: 120px;
}

.positionLengthInputClass {
    width: 45px;
}

.positionWidthInputClass {
    width: 45px;
}

.positionAnzahlInputClass {
    width: 40px;
}

.positionMengeInputClass {
    width: 50px;
}

.positionEinheitListSelectClass {
    width: 55px;
}

.positionPreisInputClass {
    width: 60px;
}

.positionRabattInputClass {
    width: 50px;
}

.positionGesamtpreisInputClass {
    width: 60px;
}

.posLangTextTextAreaClass {
    width: 750px;
    resize: none;
    height: 50px;
}

.buttonsDivClass {
    display: flex;
    margin-top: 20px;
    gap:10px;
}

.preViewDivClass {
    display: flex;
    margin-top: 20px;
}

.previewTextAreaClass {
    width: 100%;
    height: 800px;
}

.defaultButtonClass:disabled {
    background-color: rgba(0,0,0,0.12);
    color: rgba(0,0,0,0.38);
    box-shadow: none;
    cursor: default;
}

.defaultButtonClass:active {
    background-color: #0096be;
    transform: translateY(1px); /* leicht reindr체cken */
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14),
    0px 1px 10px 0px rgba(0,0,0,0.12);
}

.defaultButtonClass:hover {
    background-color: #0096be;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
    0px 4px 5px 0px rgba(0,0,0,0.14),
    0px 1px 10px 0px rgba(0,0,0,0.12);
}

.defaultButtonClass {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    min-width: 64px;
    height: 36px;


    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.02857em;

    background-color: #00aac8;
    color: #fff;
    border: none;
    border-radius: 4px;

    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
    0px 2px 2px 0px rgba(0,0,0,0.14),
    0px 1px 5px 0px rgba(0,0,0,0.12);

    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;

    user-select: none;

    flex-basis: 33.33%;
}

.inlineButtonClass {
    flex-basis: auto;
    height: 21px;
}

.autoComplete_wrapper {
    height: 100%;
    display: block;
}

.autoComplete_wrapper > input {
    /* all: unset; */          /* entfernt ALLE Styles */
    margin-top: 1px !important;
    padding-block: 1px !important;
    padding-inline: 2px !important;
    display: inline-block !important;     /* oder was du willst */
    font: inherit !important;       /* 체bernimmt Schrift vom Eltern-Element */
    color: inherit !important;
    background: none !important;
    /* height: 80%; *%
    /* border: 1px solid #ccc; */ /* falls du einen Rahmen willst */
    border-color: #ffffff !important;
    border-width: 1px !important;
    border-radius: 2px !important;
    border-style: solid !important;
    /* padding: 1px 2px 1px 2px; */
    font-size: 80% !important;
    height: 26px !important;

    outline-style: solid !important;
    outline-width: 1px !important;
    outline-color: #767676 !important;
}

.autoComplete_wrapper > input:focus {
    color: inherit !important;
    border-color: #101010 !important;
    outline-style: solid !important;
    outline-width: 1px !important;
    outline-color: #101010 !important;
}

.autoComplete_wrapper > input:hover {
    color: inherit !important;
    outline-color: #4F4F4F !important;
    border-style: solid !important;
    transition: none !important;
}

.autoComplete_wrapper > input:hover:focus {
    color: inherit !important;
    border-color: #101010 !important;
    outline-style: solid !important;
    outline-width: 1px !important;
    outline-color: #101010 !important;
}

.autoComplete_wrapper>ul {
    width: 300px !important;
}


.positionBezeichnungInputClass,
.positionArtikelNrInputClass,
.positionLengthInputClass,
.positionWidthInputClass,
.positionAnzahlInputClass,
.positionMengeInputClass,
.positionPreisInputClass,
.positionRabattInputClass,
.positionGesamtpreisInputClass,
.positionArtikelNrInputClass {
    height: 22px !important;
}

.positionBausteinSelectClass,
.positionEinheitListSelectClass {
    height: 28px;
}


.canvasSketchClass {
    border: 1px solid #aaa;
    background: white;
    width: 100%;
    height: 65vh;
    touch-action: none;
}

.toolbarSketchClass {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}

.buttonSketchClass {
    padding: 8px 14px;
    font-size: 14px;
    cursor: pointer;
}

.colorSketchClass {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid #555;
    cursor: pointer;
}